---
layout: default
title: Front End Developer
whatido:
  - description: I'm Midhun Jose, front end developer and interface designer based in india. Currently i am working for tcoffee.I love to experiment with graphics and interactivity. Take a look at some of my favorite projects
services:
  - image_path:  images/screen.png
    title: UI/UX
    content: First of all, we'll take some very basic information from you.
  - image_path:  images/screen.png
    title: Branding
    content: Using the information you've given us, we'll provide you with a quote.
  - image_path:  images/screen.png
    title: Wordpress
    content: We'll contact you to help you choose the perfect plan for you.
skills:
  - image_path:  images/circle1.png
    percentage: 90%
    title: UI/UX
    content: First of all, we'll take some very basic information from you.
  - image_path:  images/circle1.png
    percentage: 90%
    title: Branding
    content: Using the information you've given us, we'll provide you with a quote.
  - image_path:  images/circle1.png
    percentage: 90%
    title: Wordpress
    content: We'll contact you to help you choose the perfect plan for you.
about:
  - description: My work consists of a healthy mix of useful interface libraries, pointless animations and minimalist games.Most of my projects are released open source so you can freely modify or improve on them.
address: 6th Cross Road,Opp.Girinagar LP School,Girinagar, Kadavanthra,Kochi - 682020,Kerala,India
phone: +91 9526938968
email: hello@beingmidhun.com
twitter_url: 'https://twitter.com/beingmidhunjos'
facebook_url: 'https://www.facebook.com/beingmidhun'
google_plus_url: 'https://plus.google.com/u/0/+MIDHUNJOSEmid'
linkedin_url: 'http://beingmidhun.com/www.linkedin.com/in/beingmidhun'
---



          <!---banner-content--->
          <div class="col-xl-12 header-title">
            <h1>
              Midhun jose</h1>
            <h3>
              ui/ux . Wordpress . Branding
            </h3>
            <div class="col-xl-12 call-to-action">
              <a href="#whatido"><img src="images/call-to-action.png" alt="" class="img-fluid"/></a>
            </div>
          </div> <!---//banner-content--->
          <!---scroll-down--->
          <div class="col-xl-12 scroll-down">
            <img src="images/scroll-down.png" alt="" class="img-fluid scroll-line"/>
            <span class="bounce">
              <img src="images/mouse.png" alt="" class="img-fluid bounce"/>
            </span>
          </div><!---/scroll-down--->
        </div>   <!---//row--->
      </div><!---//container--->
    </header> <!--//header-->
    <!--what-i-do-section-->
    <section id="whatido">
      <div class="container">
        <div class="row">
          <!--what-i-do-LHS-->
          <div class="col-md-12 offset-lg-2 col-lg-4 col-12 bold-capton text-lg-left text-center">
            <h1 class="text-lg-left text-center">what i do</h1>
            <img src="images/underline.png" class="img-fluid under-line" alt=""/>
          </div>
          <!--what-i-do-RHS-->
          <div class="col-lg-5 offset-lg-1 text-justify">
            {% for item in page.whatido %}
            <p>
              {{item.description}}
            </p>
            {% endfor %}
          </div>
          <!---scroll-down--->
          <div class="col-12 scroll-down hidden-md-down">
            <img src="images/scroll-down.png" alt=""/>
          </div><!---/scroll-down--->

          <div class="col-12  services">
            <div class="row">
               {% for item in page.services %}
              <div class="col-sm-4 service-type">
                <img src="{{item.image_path}}" alt="" class="service-icon"/>
                <div class="dotted-line">
                  <img src="images/scroll-down.png" alt=""/>
                </div>
                <h6>{{item.title}}</h6>
                <p>
                  {{item.content}}
                </p>
              </div>
               {% endfor %}
            </div>
          </div>
        </div><!---//row--->
      </div><!---//container--->
    </section><!--//what-i-do-section-->

    <!--My-works-section-->
    <section id="my-works">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 offset-lg-7 bold-capton text-lg-left text-center">
            <h1 class="text-lg-left text-center">my works</h1>
            <img src="images/underline.png" class="img-fluid under-line" alt=""/>
          </div>
          <!---scroll-down--->
          <div class="col-xl-12 scroll-down hidden-md-down">
            <img src="images/scroll-down.png" alt="" class="img-fluid scroll-line"/>
            <span class="bounce">
              <img src="images/mouse.png" alt="" class="img-fluid bounce"/>
            </span>
          </div><!---/scroll-down--->
        </div><!--//row-->
      </div><!--//container-->
      <!--Gallery-->
      <div class="col-12 my-works--gallery">
        <div class="row mwg">
          {% for item in site.portfolio %}
          <li class="col-md-3 col-sm-6 col-xs-6 gallery-pic">
            <div class="row">
              <a data-fancybox="test-srcset" data-type="image" data-srcset="{{ item.image_path }}" data-width="1200" data-height="720" href="{{ item.image_path }}">
                <img width="240" src="{{ item.image_path }}" />
              </a>         
            </div>
          </li>
          {% endfor %}
        </div>
         </div>
      <!--//Gallery-->
      <!--Load more button-->
      <div class="col-xs-12 load-more--action">
        <a id="loadMore"><img src="images/load-more.png" alt="" class="img-fluid"/></a>
      </div>
      <!--//Load more button-->
    </section><!--//My-works-section-->

    <!--About-me-section-->
    <section id="about-me">
      <div class="container">
        <div class="row">
          <!--what-i-do-LHS-->
          <div class="col-md-12 offset-lg-2 col-lg-4 col-12 bold-capton text-lg-left text-center">
            <h1 class="text-lg-left text-center">About me</h1>
            <img src="images/underline.png" class="img-fluid under-line" alt=""/>
          </div>
          <!--what-i-do-RHS-->
          <div class="col-lg-5 offset-lg-1 text-justify">
            {% for item in page.about %}
            <p>
               {{item.description}}
            </p>
            {% endfor %}
          </div>
          <!---scroll-down--->
          <div class="col-12 scroll-down hidden-md-down">
            <img src="images/scroll-down.png" alt=""/>
            <span class="bounce">
              <img src="images/mouse.png" alt="" class="img-fluid bounce"/>
            </span>
          </div><!---/scroll-down--->

          <div class="col-12  skills">
            <div class="row">
               {% for item in page.skills %}
              <div class="col-sm-4 skill-type">
                <img src="{{ item.image_path }}" alt="" class="skill-icon"/>
                <h5>{{ item.percentage }}</h5>
                <h6>{{ item.title }}</h6>
                <p>
                  {{ item.content }}  </p>
              </div>
                {% endfor %}
           </div>
          </div>
        </div><!---//row--->
      </div><!---//container--->
    </section><!--//About-me-section-->

    <!--Contact us section-->
    <section id="contact-us">
      <div class="container">
        <div class="row">
          <!--Contact heading-->
          <div class="col-lg-5 offset-lg-7 bold-capton text-lg-left text-center">
            <h1 class="text-lg-left text-center">contact</h1>
            <img src="images/underline.png" class="img-fluid under-line" alt=""/>
          </div>
          <!--Contact details-->
          <div class="col-12">
            <div class="row">
              <!--Form-->
              <div class="col-md-6 col-sm-12 contact-form">
               <form id="contactform">
                  <label>name:</label>
                  <div class="col-12 form-group">
                    <div class="row">
                      <input type="text" class="form-control" name="_replyto" required=""/>
                    </div>
                  </div>
                  <label>email:</label>
                  <div class="col-12 form-group">
                    <div class="row">
                      <input type="email" class="form-control" name="email" required=""/>
                    </div>
                  </div>
                  <label>message:</label>
                  <div class="col-12 form-group">
                    <div class="row">
                      <textarea class="form-control" name="message" required=""></textarea>
                    </div>
                  </div>
                  <div class="col-12">
                    <input id="sendMessage" type="submit" class="send-button"/>
                  </div>
                </form>
              </div><!--//Form-->
              <!--Contact address-->
              <div class="col-md-6 col-sm-12 contact-address">
                <!--Social-->
                <ul class="nav footer-social">
                  <li class="nav-item">
                    <a target="_blank" class="nav-link" href="{{page.facebook_url}}"><img src="images/facebook.png" class="img-fluid" alt="facebook" title="Facebook"></a>
                  </li>
                  <li class="nav-item">
                    <a target="_blank" class="nav-link" href="{{page.google_plus_url}}"><img src="images/googleplus.png" class="img-fluid" alt="google plus" title="Google plus"></a>
                  </li>
                  <li class="nav-item">
                    <a target="_blank" class="nav-link" href="{{page.linkedin_url}}"><img src="images/linkedin.png" class="img-fluid" alt="linked in" title="Linked in"></a>
                  </li>
                  <li class="nav-item">
                    <a target="_blank" class="nav-link" href="{{page.twitter_url}}"><img src="images/twitter.png" class="img-fluid" alt="twitter" title="Twitter"></a>
                  </li>
                </ul><!--//Social-->
                <!--Address-->
                <div class="col-12 contact-address--details">
                  
                  <div class="row">
                    <div class="col-12">
                      <h6>address</h6>
                      <p>{{page.address}}</p>
                    </div>
                    <!--Phone-->
                    <div class="col-sm-6 col-xs-12">
                      <h6>phone:</h6>
                      <a class="contact-details" href="tel:+91 95 26 938968">{{page.phone}}</a>
                    </div>
                    <!--Email-->
                    <div class="col-sm-6 col-xs-12">
                      <h6>email:</h6>
                      <a class="contact-details" href="mailto:{{page.email}}">{{page.email}}</a>
                    </div>
                  </div>
                  
                </div>
              </div><!--//Address-->
            </div><!--//row-->
          </div><!--//Contact details-->
        